body {
  font: 15px/24px Helvetica, sans-serif;
  background: SeaShell;
  color: #333;
  margin: 2em;
  max-width: 40em;
}

h1, h2, h3 { font-weight: normal; }

a { color: RoyalBlue; }
a:hover { color: MidnightBlue; }

blockquote {
  color: gray;
  border-left: 4px solid Gainsboro;
  padding-left: 2em;
}
